stages:
  - update-helm-repo

variables:
  DOCKER_TAG: $CI_JOB_TOKEN  # Receive the tag from the Java pipeline trigger
update-helm-repo:
  stage: update-helm-repo
  before_script:
    # Install necessary packages
    - apt-get update && apt-get install -y curl git
    # Download and install Helm 3.x
    - curl -fsSL -o helm.tar.gz https://get.helm.sh/helm-v3.9.4-linux-amd64.tar.gz
    - tar -zxvf helm.tar.gz
    - mv linux-amd64/helm /usr/local/bin/helm
    - chmod +x /usr/local/bin/helm
  script:
    # Print Helm version and help to debug issues
    - helm version
    - helm help
    # Ensure DOCKER_TAG is available
    - echo "DOCKER_TAG=${DOCKER_TAG}"
    # Print the repository URL for debugging
    - echo "Repository URL $CI_REPOSITORY_URL"
    - printenv
    # Define Helm repository URL (adjust if necessary)
    - HELM_REPO_URL=$(echo $CI_REPOSITORY_URL | sed 's/.git$//')/my-helm-repo/
    - echo "Helm repository URL $HELM_REPO_URL"
    # Update values.yaml with the new Docker image tag
    - |
      sed -i "s/tag:.*/tag: $DOCKER_TAG/" mychart/values.yaml
    # Package and push Helm chart
    - helm package mychart
    - helm repo index . --url  $CI_REPOSITORY_URL
    - git config --global user.email "ci@automation.com"
    - git config --global user.name "CI Automation"
    - git add .
    - git commit -m "Update Helm chart with Docker tag $DOCKER_TAG"
    - git push origin main
